/ThreadLearn/nbproject/private/
/ThreadLearn/build/
/LearnThread/nbproject/private/
/ThreadLearn/dist/
/SemaphoreLearn/nbproject/private/
/PolymorphismArrayAnnimal/nbproject/private/
/Annimal/nbproject/private/
/Annimal/dist/
/Annimal/build/
/Polymorphism/nbproject/private/
/Polymorphism/build/
